Package: detritusd-dbgsym
Source: detritusd
Version: 1.0.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: GonzOS Packaging <packages@gonzos.invalid>
Installed-Size: 69
Depends: detritusd (= 1.0.0-1)
Section: debug
Priority: optional
Description: debug symbols for detritusd
Build-Ids: e13a61858f767e463f47f6bc833d9a5b5a1b8885
